{% extends "GRsystem/index.html" %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
{% block content %}
<style>
  body {
    background-color: #097707 !important;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .card {
    border: #007bff !important;
  }
</style>
{% load static %}

<div class="card text-white" style="background-color: #097707;">

  <div class="ml-3">
    <p style="color:rgb(255, 255, 255); font-size:35px;">
      <marquee scrollamount="15" direction="right"> <b>SolAId Grievance System</b></marquee>
    </p>

    <!-- <p style="color:white; text-align:justify;">
    </p> -->
  </div>
  <br>

</div>

{% load static %}

<center>
  <br>
  <br>
  <br>
  <div class="row  d-flex justify-content-center">
    <div class="col-sm-3 col-sm-pull-4">
      <div class="card text-white" style="width: 22rem; background-color: #097707;">
        <!-- <img src="{% static 'GRsystem/img/r.mp4' %}" class="img-rounded" alt="Cinque Terre"> -->
        <!-- <video src="{% static 'GRsystem/img/r.mp4' %}" loop autoplay class="img-rounded" alt="Cinque Terre"></video> -->
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <div class="card-body">
          <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_vw3zs7wow6.json" background="transparent"
            speed="1" style="width: 400px; height: 400px;" loop autoplay></lottie-player>
          <p class="card-text">Register Anonymous Complaint </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-sm-pull-4">
      <div class="card text-white" style="width: 22rem; background-color: #097707;">
        <div class="card-body">
          <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_iamfsx2i.json" background="transparent"
            speed="1" style="width: 400px; height: 400px;" loop autoplay></lottie-player>
          <p class="card-text">Counseling Appointments</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card text-white" style="width: 22rem; background-color: #097707;">
        <div class="card-body">
          <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_fjv8qxqn.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player>
          <p class="card-text">Peer Support</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</center>
{% endblock %}